<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="../../static/css/common.css" th:href="@{/css/common.css}" />
    <script src="../../static/js/jquery-3.6.0.min.js" th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script src="../../static/js/bootstrap.bundle.min.js" th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script src="../../static/js/common.js" th:src="@{/js/common.js}"></script>
    <title>BMIと適正体重</title>
  </head>
  <body>
    <a href="/sample">
      <input class="btn" type="button" value="　＜ 戻る　" />
    </a>
    <form id="bmiForm" method="POST" th:action="@{/sample/bmi}" th:object="${bmiForm}">
      <div class="row justify-content-center">
        <div class="col-auto text-center">
          <br />
          <br />
          <h4>BMIと適正体重</h4>
          <br />
          身長　<input type="text" id="height" th:field="*{height}" style="text-align: center" />　cm<br />
          体重　<input type="text" id="weight" th:field="*{weight}" style="text-align: center" />　kg<br />
          <div th:if="${#fields.hasErrors('height')}" th:errors="*{height}"></div>
          <div th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}"></div>
          <br />
          <br />
          <br />
          <input class="btn btn-primary" type="submit" value="　計算　" name="calc" />
          <input class="btn btn-danger" type="submit" value="　クリア　" name="clear" /><br />

          <br />
          <div id="resultFrame" th:if="${not #strings.isEmpty(bmiResult)}" class="text-center col">
            <table th:if="${not #strings.isEmpty(bmiResult)}" class="table text-center">
              <tr bgcolor="#d5eaff">
                <th>　肥満度(BMI)　</th>
                <th>　適正体重　</th>
                <th>　適正体重と比較　</th>
                <th>　BMI　</th>
              </tr>

              <!-- TODO：繰り返しをなくす！ -->
              <th:block th:with="bmiValue=${bmiResult.bmi}">
                <!-- 条件式を記述 -->
                <th:block
                  th:with="
                  lowWeight=${18.5 > bmiValue}, 
                  normalWeight=${25 > bmiValue && bmiValue >= 18.5},
                  obesity1=${30 > bmiValue && bmiValue >= 25},
                  obesity2=${35 > bmiValue && bmiValue >= 30},
                  obesity3=${40 > bmiValue && bmiValue >= 35},
                  obesity4=${bmiValue >= 40}
                  ">
                  <!-- 表を記述 -->
                  <tr th:class="${lowWeight} ? 'text-danger border-danger h6' : ''">
                    <td>低体重(~18.4)</td>
                    <td><text th:text="${lowWeight ? bmiResult.adequateWeight.toPlainString() + ' kg' : ''}" /></td>
                    <td><text th:text="${lowWeight ? bmiResult.comparison.toPlainString() + ' kg' : ''}" /></td>
                    <td><text th:text="${lowWeight ? bmiResult.bmi.toPlainString() : ''}" /></td>
                  </tr>

                  <tr th:class="${normalWeight} ? 'text-danger border-danger h6' : ''">
                    <td>普通体重(18.5~25)</td>
                    <td><text th:text="${normalWeight ? bmiResult.adequateWeight.toPlainString() + ' kg' : ''}" /></td>
                    <td>
                      <text th:text="${bmiResult.comparison > 0 && normalWeight ? ' + ' + bmiResult.comparison.toPlainString() + ' kg' : ''}" />
                      <text th:text="${!(bmiResult.comparison > 0) && normalWeight ? bmiResult.comparison.toPlainString() + ' kg' : ''}" />
                    </td>
                    <td><text th:text="${normalWeight ? bmiResult.bmi.toPlainString() : ''}" /></td>
                  </tr>

                  <tr th:class="${obesity1} ? 'text-danger border-danger h6' : ''">
                    <td>肥満１(25~30)</td>
                    <td><text th:text="${obesity1 ? bmiResult.adequateWeight.toPlainString() + ' kg' : ''}" /></td>
                    <td><text th:text="${obesity1 ? ' + ' + bmiResult.comparison.toPlainString() + ' kg' : ''}" /></td>
                    <td><text th:text="${obesity1 ? bmiResult.bmi.toPlainString() : ''}" /></td>
                  </tr>

                  <tr th:class="${obesity2} ? 'text-danger border-danger h6' : ''">
                    <td>肥満２(30~35)</td>
                    <td><text th:text="${obesity2 ? bmiResult.adequateWeight.toPlainString() + ' kg' : ''}" /></td>
                    <td><text th:text="${obesity2 ? ' + ' + bmiResult.comparison.toPlainString() + ' kg' : ''}" /></td>
                    <td><text th:text="${obesity2 ? bmiResult.bmi.toPlainString() : ''}" /></td>
                  </tr>

                  <tr th:class="${obesity3} ? 'text-danger border-danger h6' : ''">
                    <td>肥満３(35~40)</td>
                    <td><text th:text="${obesity3 ? bmiResult.adequateWeight.toPlainString() + ' kg' : ''}" /></td>
                    <td><text th:text="${obesity3 ? ' + ' + bmiResult.comparison.toPlainString() + ' kg' : ''}" /></td>
                    <td><text th:text="${obesity3 ? bmiResult.bmi.toPlainString() : ''}" /></td>
                  </tr>

                  <tr th:class="${obesity4} ? 'text-danger border-danger h6' : ''">
                    <td>肥満４(40~)</td>
                    <td><text th:text="${obesity4 ? bmiResult.adequateWeight.toPlainString() + ' kg' : ''}" /></td>
                    <td><text th:text="${obesity4 ? ' + ' + bmiResult.comparison.toPlainString() + ' kg' : ''}" /></td>
                    <td><text th:text="${obesity4 ? bmiResult.bmi.toPlainString() : ''}" /></td>
                  </tr>
                </th:block>
              </th:block>
            </table>
          </div>
        </div>
      </div>
    </form>
  </body>
</html>
