<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HTMX Button Example</title>
    <script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
  </head>
  <body>
    <button hx-get="/sample/test/anc/1" hx-target="this" hx-trigger="click">クリック</button>
    <button hx-get="/sample/test/anc/2" hx-target="this" hx-trigger="click[shiftKey]">シフトクリック</button>



    
    <button id="clickButton" hx-trigger="click[shiftKey]">シフトクリック戻る</button>
    <script>
      document.getElementById("clickButton").addEventListener("click", function (event) {
        var button = this;
        if (event.shiftKey) {
          if (button.dataset.clicked === "true") {
            button.textContent = "シフトクリック戻る";
            button.dataset.clicked = "false";
          } else {
            button.textContent = "🚩";
            button.dataset.clicked = "true";
          }
        }
      });
    </script>


    <div id="test" text="あああ"></div>
    <button id="combinedButton" hx-get="/sample/test/anc/1" hx-target="this" hx-trigger="click:shift">最有力？</button>
    <script>
      document.getElementById("combinedButton").addEventListener("click", function (event) {
        var button = this;
        if (event.shiftKey) {
          if (button.dataset.clicked === "true") {
            button.textContent = "　";
            button.dataset.clicked = "false";
          } else {
            button.textContent = "🚩";
            button.dataset.clicked = "true";
          }
        } else {
          //button.textContent = "Clicked!";
          //window.location.href = 
          // button.textContent = button.getAttribute("hx-get");
          button.textContent = document.getElementById("test").getAttribute("text");
        }
      });
    </script>



    <p id="target">hoge</p>
    <button hx-get="/sample/test/anc/1" hx-target="#target" hx-trigger="click" hx-swap="innerHTML">クリック</button>



    <button id="myButton1">2つに分ける</button>

    <script>
        document.getElementById('myButton1').addEventListener('click', function(event) {
            if (event.shiftKey) {
                window.location.href = "/sample/test/anc/2";
            } else {
                window.location.href = "/sample/test/anc/1";
            }
        });
    </script>

<button id="myButton1">右クリック</button>
<script>
  // 右クリックメニューが表示されるイベント（contextmenu）を検出する
  document.addEventListener('contextmenu', function(event) {
    // イベントを無効化（preventDefault）し、右クリック禁止を実現する
    event.preventDefault();
    window.location.href = "/sample/test/anc/1";
  });
</script>

<button value="あああ" onclick="clickNormal(value)">引数出る</button>
<script>
  function clickNormal(value) {
    alert(value);
  }
</script>

      </body>
    </html>
  </body>
</html>
